@{
    ViewData["Title"] = "Home Page";
}

<div class="main-container">

    <div class="content">

        <div class="content-body">
            <div class="success-text">Success!</div>
            <div class="description line-1">This is the home page</div>
        </div>
    </div>
</div>

